

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(26, 25, 27);
    color: aliceblue;
}

.hero {
    margin: 0 auto;
}

.hero__text {
    font-size: 7em;
}

.container {
    border: yellow solid;
    max-width: 900px;
    /* overflow: hidden; */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.col {
    border: solid red;
    width: fit-content;
    max-width: 300px;
}

.btn {
    padding: 9em;
    border-radius: 100%;
}

.nav_d_btn {
    
}

