
/* Site wide code */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'google sans', Arial, sans-serif;
    background: #34475c;
    /* background-image: linear-gradient(45deg, rgb(0, 39, 81), rgb(190, 217, 252)); */
    margin: 0;
}

h1 {
    font-family: 'Momo Trust Display', 'google sans', arial, sans-serif;
}

h2 {
   font-family: 'Momo Trust Display', 'google sans', arial, sans-serif;
}

.navigation {
    text-align: left;
    margin-bottom: 50vh;
    padding: 0 0 0 2%;
}

.navigation a:link,
.navigation a:visited {
    color: red;
}

/* Home/Navigation page */

.hero {
    /* border: solid purple; */
    position: relative;
    margin: 0 auto;
    height: 80vh;
    min-height: 600px;
    overflow-wrap: break-word;
    margin-bottom: 10vh;
}

.hero__text {
    font-size: 2.5em;
    padding-left: 10%;
    max-width: 80vw;
}

.hero__image {
    /* border: solid red; */
    width: 84vw;
    height: 70vh;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7vh;
    left: 7vw;
    z-index: -1;
}

.hero__image img {
    width: 84vw;
    height: 70vh;
    min-height: 550px;
    object-fit: cover;
    border-radius: 10px;
}

.info {
    /* border: solid green; */
    background: #85ba9d;
    width: 80vw;
    max-width: 700px;
    border-radius: 100px;
    margin: 0 auto;
    color: rgb(26, 35, 30);
}

.info__hook {
    /* border: solid lightgreen; */
    padding: 1px 50px 0px 50px;
    font-size: 1.5em;
    max-width: 650px;
    margin: 0 auto;
}

.info__blurb {
    /* border: solid lightblue; */
    font-size: 1.1em;
    max-width: 650px;
    margin: 0 auto;
    font-family: "google sans", arial, sans-serif;
    font-weight: 550;
    padding: 0px 50px 30px 45px;
}

.whio {
    /* border: solid darkcyan; */
    background: #89bcd5;
    width: 80vw;
    max-width: 1000px;
    padding: 30px;
    margin: 10vh 30px 15vh auto;
    border-radius: 100px;
}

.whio__text {
    padding-left: 30px;
    padding-right: 40px;
    color: rgb(30, 41, 54);
}

.whio__blurb p {
    font-size: 2em;
}

.whio__blurb ul {
    font-family: "google sans", arial, sans-serif;
    font-weight: 550;
}

.container {
    padding: 5%;
    padding-bottom: 9%;
    margin: 0 auto;
    /* border: orange solid; */
    background: #7ba781;
    margin-bottom: 12vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
    row-gap: 60px;
}

.col {
    font-size: 1.2em;
    font-family: "momo trust display","google sans", sans-serif;
    /* border: solid yellow; */
    width: 200px;
    height: 230px;
    text-align: center;
}

.nav_btn img {
    width: 8.2em;
    height: 8.2em;
    border-radius:50%;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    transition: 0.5s ease;
}

.nav_btn img:hover,
.nav_btn img:focus {
    /* width: 8.6em;
    height: 8.6em; */
    transform: scale(1.1);
    filter: drop-shadow(1px 3px 8px rgba(0, 0, 0, 0.5));
}


/* Details page */

body.Details {
    background: rgb(142, 142, 237);
}

.Details p {
    font-size: 1.6em;
}

.hero__d {
    /* border: solid magenta; */
    height: 60vh;
    margin-top: 9.6vh;
}

.hero__text__d {
    display: grid;
    place-items: center;
    height: 60vh;
    /* border: solid red; */
    font-family: 'momo trust display', sans-serif;
    font-size: 1.7em;
    color: aliceblue;
}

.hero__image__d {
    /* border: solid green; */
    width: 100%;
    height: 60vh;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

.hero__image__d img {
    /* border: solid purple; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro__d {
    background: rgb(239, 239, 240);
    /* padding-top: 4%; */
    padding: 4% 5% 4% 5%;
}

.intro__text__d {
    color: rgb(20, 41, 54);
}

.intro__blurb__d {
    font-family: "google sans", arial, sans-serif;
    font-weight: 100;
}

.native__endangerment {
    border: 5px solid black;
    border-radius: 50px;
    padding: 3%;
}

.introduced__predators {
    border: 5px solid black;
    border-radius: 50px;
    padding: 3%;
}

.introduced__predators__list {
    border: 5px solid black;
    border-radius: 50px;
    padding: 3%;
}

.introduced__predators__list h2 {
    font-size: 1.6em;
}

.introduced__predators__list p {
    font-size: 1.3em;
}

.introduced__plants {
    border: 5px solid black;
    border-radius: 50px;
    padding: 3%;
}

.whio__d {
    /* border: solid darkcyan; */
    background: #89bcd5;
    width: 80vw;
    max-width: 660px;
    padding: 25px;
    margin: 10vh 30px 15vh auto;
    border-radius: 100px;
}

.whio__text__d {
    padding-left: 30px;
    padding-right: 40px;
    color: rgb(30, 41, 54);
}

.whio__blurb__d p {
    font-size: 2em;
}

.whio__blurb__d ul {
    font-family: "google sans", arial, sans-serif;
    font-weight: 550;
}

/* To Do Page */


.whio__t {
    /* border: solid darkcyan; */
    background: #89bcd5;
    width: 80vw;
    max-width: 500px;
    padding: 20px;
    margin: 10vh 30px 15vh auto;
    border-radius: 100px;
}

.whio__text__t {
    padding-left: 30px;
    padding-right: 40px;
    color: rgb(30, 41, 54);
}

.whio__blurb__t p {
    font-size: 2em;
}

.whio__blurb__t ul {
    font-family: "google sans", arial, sans-serif;
    font-weight: 550;
}


/* You Do Page */

.whio__y {
    /* border: solid darkcyan; */
    background: #89bcd5;
    width: 80vw;
    max-width: 500px;
    padding: 20px;
    margin: 10vh 30px 15vh auto;
    border-radius: 100px;
}

.whio__text__y {
    padding-left: 30px;
    padding-right: 40px;
    color: rgb(30, 41, 54);
}

.whio__blurb__y p {
    font-size: 2em;
}

.whio__blurb__y ul {
    font-family: "google sans", arial, sans-serif;
    font-weight: 550;
}


/* Volunteering Page */

.whio__v {
    /* border: solid darkcyan; */
    background: #89bcd5;
    width: 80vw;
    max-width: 500px;
    padding: 20px;
    margin: 10vh 30px 15vh auto;
    border-radius: 100px;
}

.whio__text__v {
    padding-left: 30px;
    padding-right: 40px;
    color: rgb(30, 41, 54);
}

.whio__blurb__v p {
    font-size: 2em;
}

.whio__blurb__v ul {
    font-family: "google sans", arial, sans-serif;
    font-weight: 550;
}

